.back-side {
  padding: 0 24px;
  &__input {
    margin: 134px 0 0 0;
  }
  &__help {
    @extend .normal-12;
    margin: 6px 0 0 0;
    position: relative;
    letter-spacing: 0.4px;
    color: $grey;
    cursor: pointer;

    &:hover {
      color: $black;
      & .back-side__popup {
        opacity: 1;
      }
    }
  }
  &__popup {
    @include size(190px, 71px);
    padding: 12px;
    position: absolute;
    z-index: 20;
    top: -80px;
    left: -66px;
    opacity: 0;
    transition: opacity 0.2s ease;
    background: $popup-grey;
    border-radius: 13px;
    color: $light-grey;
    pointer-events: none;
    &::after {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      bottom: -5px;
      left: calc(50% - 7px);
      border-radius: 3px;
      background: $popup-grey;
      transform: rotate(45deg);
    }
  }
}
