.payment {
  margin: 30px 0 0 0;
  padding: 30px;
  border: 1px solid $light-grey;
  border-radius: 6px;

  &__title {
    @extend .h1;
  }
  &__info, &__card {
    margin: 20px 0 0 0;
  }
  &__save, &__btn-wrap {
    margin: 24px 0 0 0;
  }
}