// Fonts

.h1 {
  font-family: 'GoogleSans-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 120%;
}

.h2 {
  font-family: 'GoogleSans-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.h4 {
  font-family: 'GoogleSans-Medium', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 120%;
}

.bold-18 {
  font-family: 'GoogleSans-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.bold-16 {
  font-family: 'GoogleSans-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
}

.bold-14 {
  font-family: 'GoogleSans-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
}

.semi-bold-18 {
  font-family: 'GoogleSans-Medium', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.semi-bold-16 {
  font-family: 'GoogleSans-Medium', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}

.semi-bold-14 {
  font-family: 'GoogleSans-Medium', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}

.normal-18 {
  font-family: 'GoogleSans-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}
.normal-16 {
  font-family: 'GoogleSans-Regular', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.normal-14 {
  font-family: 'GoogleSans-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}
.normal-12 {
  font-family: 'GoogleSans-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
}
