// Colors

$gray: #9395A4;
$green: #40A746;
$light-green: #65B767;
$light-grey: #E1E5E7;
$salad: #88CE89;
$black: #0B1C27;
$red: #DD5656;
$popup-grey: rgba(38, 39, 40, 0.8);


// Fonts

.subtitle-16 {
  font-family: 'OpenSans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.h2, h1 {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.h4 {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 120%;
}

.btn-title-18 {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.paragraph-18 {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.btn-title-14 {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
}

.paragraph-12 {
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
}