.failed {
  border-color: $red;
  &:focus {
    border-color: $light-grey;
  }
}

.field__input {
  &:focus {
    & + .failed {
      border-color: $light-grey;
    }
  }
}

.not-valid {
  & .field__label {
    border-color: $red;
  }
}
